{%extends "start.html"%}
{%block title%}Товар{%endblock%}
{%load staticfiles%}
{%load goods_extras%}
{%load i18n%}

{%block content%}

{{brand}}
<div id="species"></div>
<div id="res">
<table border=1 class="head">
  <caption><h2>Таблица 
{%if action == 'expense'%}
расхода
{%elif action == 'retrieve'%}
возврата
{%elif action == 'coming'%}
прихода
{%endif%}
 товара</h2>
  </caption>
  <tr>
    <th>Тип товара</th>
    <th>Остаток</th>
  </tr>
{%for spacies in spacies_list%}
  <tr>
   <td class="spacies1" width=300>
     &nbsp;&nbsp;<a onclick="list_spacies('brand{{spacies.spacies}}')">{{spacies.spacies}}</a>
   </td>
   <td class="expense" width=900><div id="sum_spacies{{spacies.spacies}}">
    {{spacies|count_goods_spacies}}</div>
   </td>
  </tr>
  <tr><td colspan=2>
    <div id="brand{{spacies.spacies}}" hidden>
    <table border=0>
      {%for g in spacies.brand_set.all%}
          
      <tr>
       <td colspan=2 class="brand">
         <a onclick="list_brand('{{g.brand|cut:' '}}','{{action}}','{{g.brand}}')">{{g.brand}}</a>
       </td>
      </tr>
      <tr>
       <td colspan=2>
         <div id="{{g.brand|cut:' '}}" hidden>
     {%include 'detail_goods.html'%}
         </div>
       </td>
      </tr>


{%endfor%}
</table>
</div>
</td></tr>
{%endfor%}
<tr>
<td class="spacies1">
&nbsp;&nbsp;<a onclick="all_goods('{{action}}')">Общий 
{%if action == 'expense'%}
расход
{%elif action == 'retrieve'%}
возврат
{%elif action == 'coming'%}
приход
{%endif%}</a>
</td>
<td><div id="sum_amoun" class="sum_amount_alls">{{brand|count_goods_all}}</div></td></tr>
      <tr>
       <td colspan=2>
         <div id="all_action" hidden>
      {%include 'all_action.html'%}
         </div>
       </td>
      </tr>
</table>
</div>
{%endblock%}




